<div class="container has-background-warning-light is-fullheight">
      <div class="hero is-large">
          <div class="hero-body columns">
              <div class="column is-two-thirds is-flex is-flex-direction-column box has-background-info-light">
                  <p class="has-text-info-light"></p>
                      <a href="/post/{{id}}" class="has-text-dark is-pulled-left">{{title}}</a></p>
                      </div>
                  <div class="column">
                      <span class=""></span>
                  </div>

                  <div class="card-content">
                      <div class="content has-text-justified has-text-info-light">
                          {{post_content}}
                      </div>
                      <div class="is-pulled-right">
                          <b>{{user.username}}</b>
                          {{formate_date_created_at}} <a href="/post/{{id}}">{{comments.length}}{{format_plural "comment" comments.length}}</a>
                      </div>
                  </div>
                  
              </div>
          </div>
      </div>
  
  